@media screen and (max-width: 1199px) {
  .header-content {
    padding-left: 5%;
  }

  .header-title {
    font-size: 32px;
    padding: 1em 0 .5em;
    line-height: 36px;
  }

  .header-items {
    padding: 3em 0 4em;
  }

  .header-item {
    font-size: 16px;
    line-height: 24px;
  }

  .ph-number {
    font-size: 20px;
    left: 78.5%;
  }

  .cond-block {
    padding: 0 40px 40px;
  }

  .cont-desc-title {
    font-size: 22px;
    line-height: 30px;
  }

  .condition-item {
    font-size: 16px;
    line-height: 20px;
    padding: 8px 26px 8px 0;
  }
}

@media screen and (max-width: 991px) {
  .ph-number {
    font-size: 17px;
    line-height: 16px;
  }

  .header-title {
    font-size: 24px;
    padding: 1em 0 .5em;
    line-height: 36px;
  }

  .header-items {
    padding: 4em 0 6em;
  }

  .header-item {
    font-size: 14px;
    line-height: 18px;
  }

  .header-content {
    padding-left: 2%;
  }

  .header-slider {
    display: none;
  }

  #header {
    background: url('../img/mobile-bg.jpg') no-repeat right top;
    background-size: cover;
  }

  .why-us-block1,
  .why-us-block2,
  .why-us-block3,
  .why-us-block4 {
    padding-left: 70px;
  }

  .tab-pane_third .item-row {
    display: block;
  }
  
  .tab-pane_third .item-row div{
    float: right;
  }

  .tab-pane_third .item-row div:last-of-type.line-right::after {
    content: '';
    position: absolute;
    top: -90px;
    left: 50%;
    width: 4px;
    height: 100px;
    margin-left: -2px;
    background-color: #f5f5f5;
    z-index: -2;
  }

  .tabs-scheme .tab-item {
    font-size: 18px;
    padding: 10px 6px;
  }

  #enrollment .desc {
    font-size: 24px;
    line-height: 36px;
  }

  #enrollment .desc span {
    font-size: 18px;
    line-height: 30px;
  }

  .benefit-block {
    width: 100%;
  }

  .person-desc {
    margin-bottom: 25px;
  }

 .person-desc .idea {
  margin-left: 10%;
  margin-top: 20px;
  font-size: 20px;
  line-height: 24px;
 }

  .person .person-fb {
    height: 100px;
  }

 .faq-list__question {
  font-size: 20px;
 }

  #question {
    width: 84%;
  }
}

@media (max-width: 767px) {
  #schemes,
  #benefit-after,
  /*#conditions,*/
  #feedback,
  #popular-questions,
  #footer,
  .condition-item,
  #header:before,
  #header:after,
  #why-us:before,
  #schemes:before,
  #schemes:after,
  #popular-questions:before,
  #popular-questions:after  {
    display: none;
  }

  .mob-social {
    display: block;
  }

  .mobile-menu-btn {
    display: block;
  }

  .ph-number {
    position: static;
    display: inline-block;
    vertical-align: middle;
    padding-left: 15%;
    font-size: 18px;
    line-height: 32pxx;
  }

  .ph-number br {
    font-size: 8px;
    line-height: 14px;
  }

  .ph-number b {
    display: none;
  }

  .header-content {
    float: none;
    width: 100%;
  }

  .logo-desc {
    display: none;
  }

  .sec-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .btn-sl {
    font-size: 12px !important;
    line-height: 12px !important;
    padding: 10px 20px !important;
  }

  .btn-custom {
    font-size: 14px !important;
    line-height: 12px !important;
    padding: 15px 30px !important;
  }

  .why-us-block1,
  .why-us-block2,
  .why-us-block3,
  .why-us-block4 {
    min-height: auto;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 10px;
    background-position: center 13px;
    border: 2px solid #ccc;
    text-align: center;
  }

  .why-us-block1:after,
  .why-us-block2:after,
  .why-us-block3:after,
  .why-us-block4:after {
    content: none;
  }

  #why-us .why-us-list {
    display: none;
    padding-bottom: 10px;
  }

  #why-us .why-us-list .why-us-item {
    font-size: 13px;
    list-style-type: none;
  }

  .why-us-title {
    padding-top: 62px;
    font-size: 20px;
  }

  .why-us-title .icon-title {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
  }

  .why-us-title .icon-title {
    display: inline-block;
  }

  .cond-block {
    padding: 0 0 40px;
  }

  .cont-desc-title,
  .cont-desc-title:nth-child(2),
  .cont-desc-title:nth-child(3) {
    text-align: center;
    padding-left: 0!important;
    padding-right: 0!important;
  }

  #universities {
    padding: 20px 0 50px;
  }

  .universities_sec-title {
      margin-bottom: 25px;
  }

 .slide-university {
  margin-bottom: 50px;
 }

  .slide-university .inner-wrap-desc {
    /*padding: 10px;*/
  }

  .slide-university .text{
    font-size: 12px;
    line-height: 14px;
    /*padding-right: 15px;*/
  }

  .prev-btn {
    width: 120px;
  }

  .prev-btn:after {
    content: '';
    display: block;
    clear: both;
  }

  .click-prev {
    float: left;
  }

  .click-zoom {
    display: none;
  }

  .click-next {
    float: right;
  }

  .enrollment-wrap {
    display: block;
    text-align: center;
  }

  #enrollment .desc span {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 550px) {

  .ph-number {
    padding-right: 10%;
  }

  .btn-sl {
    font-size: 12px !important;
    line-height: 12px !important;
    padding: 9px 12px !important;
  }

  .slide-university .text{
    font-size: 12px;
    line-height: 14px;
    padding-right: 15px;
  }

  .enrollment-wrap {
    display: block;
    text-align: center;
  }

  #enrollment .desc span {
    padding-bottom: 30px;
  }

}

@media (min-width: 768px) {
  #why-us .why-us-list {
    display: block !important;
  }

   .universities_sec-title br {
      display: none;
   }
}

@media screen and (max-width: 550px) {

  .btn-sl {
    font-size: 12px !important;
    line-height: 12px !important;
    padding: 9px 12px !important;
  }

  #header .header-content {
    width: 100%;
    float: none;
    padding: 0 15px;
  }

  #header .logo-desc {
    display: none;
  }
  
  .header-desc {
    padding: 25px 0 0 0;
  }

  .header-desc .header-title {
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  .header-desc .header-p {
    color: #666;
    font-size: 12px;
    font-weight: 400;
    line-height: 48px;
  }

  .header-items {
    padding: 10px 0 35px;
  }

  .header-item {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
  }

  .why-us-block1,
  .why-us-block2,
  .why-us-block3,
  .why-us-block4 {
    width: 100%;
    padding-bottom: 0;
    background-size: 43px 43px;
    background-position: center 10px;
  }

  .why-us-title {
    padding-top: 45px;
    font-size: 14px;
  }

  #enrollment .desc {
    font-size: 18px;
    line-height: 36px;
  }

  #enrollment .desc span {
    font-size: 12px;
    line-height: 30px;
    padding-bottom: 30px;
  }

  .slide-university .inner-wrap-desc {
    display: block;
    text-align: center;
  }

  .inner-wrap-desc .text {
    width: 100%;
    padding-right: 0;
  }
}


@media screen and (max-width: 480px) {
  .modal-form .input {
    width: 90%;
  }

  .modal-form {
    left: 0;
    right: 0;
  }

  .select-block {
    width: 90%;
  }
}