body {
  font-family: "Open Sans";
  color: #2c2c2c;
  background-color: #fff;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
}

/*CUSTOM*/

.sec-title {
  font-family: "Open Sans";
  color: #3d3d3d;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.btn-custom {
  background-color: #ed2130;
  border: 2px solid #ed2130 !important;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(237, 33, 48, 0.7);
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  padding: 14px 40px;
}

.btn-sl {
  font-size: 16px;
  padding: 8px 35px;
}

.btn-custom:hover {
  background-color: #fff;
  color: #ed2130 !important;
}

/*HEADER*/

.custom-cont {
  max-width: 1500px;
  /*width: 1500px;*/
  margin: 0 auto;
}

.custom-cont:after {
  content: '';
  display: table;
  clear: both;
}

#header {
  background-image: -webkit-linear-gradient(right, rgba(238, 238, 238, 0.19) 0%, rgba(102, 102, 102, 0.19) 100%);
  background-image: -o-linear-gradient(right, rgba(238, 238, 238, 0.19) 0%, rgba(102, 102, 102, 0.19) 100%);
  background-image: linear-gradient(to left, rgba(238, 238, 238, 0.19) 0%, rgba(102, 102, 102, 0.19) 100%);
}

.header-content {
  float: left;
  width: 45%;
  padding-left: 7.3%;
}

.header-top {
  padding-top: 18px;
}

.logo {
  width: 158px;
  height: 65px;
}

.logo,
.logo-desc {
  display: inline-block;
}

.logo-desc,
.header-p,
.header-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #666;
}

.logo-desc {
  vertical-align: bottom;
  padding-left: 30px;
}

.header-title {
  font-weight: 600;
  text-align: left;
  padding: 82px 0 15px;
}

.header-items {
  padding: 75px 0 90px;
}

.header-item {
  background: url('../img/header-checked.png') 0 center no-repeat;
  padding: 8px 0 8px 32px;
  color: #232323;
}

.header-slider {
  float: left;
  width: 55%;

}

.slide:nth-child(2),
.slide:nth-child(3) {
  display: none;
}

.slide-bg,
.google-map img {
  width: 100%;
  height: auto;
}

/*WHY US*/

#why-us {
  padding-top: 75px;
  padding-bottom: 100px;
}

#why-us .sec-title {
  padding-bottom: 30px;
}

.why-us-block1,
.why-us-block2,
.why-us-block3,
.why-us-block4 {
  position: relative;
  margin: 0 auto;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 80%;
  min-height: 280px;
}

.why-us-block1:after,
.why-us-block2:after,
.why-us-block3:after,
.why-us-block4:after {
  position: absolute;
  content: '';
  display: block;
  width: 80%;
  height: 75%;
  bottom: 0;
  left: 0;
  border-left: 4px solid rgba(233, 232, 232, .5);
  border-bottom: 4px solid rgba(233, 232, 232, .5);
  border-radius: 4px;
}

.why-us-block1 {
  background: url('../img/icons/t-icon1.png') 32px 5px no-repeat;
}

.why-us-block2 {
  margin-top: 20px;
  background: url('../img/icons/t-icon2.png') 32px 5px no-repeat;
}

.why-us-block3 {
  background: url('../img/icons/t-icon3.png') 32px 15px no-repeat;
  margin-top: 20px;
}

.why-us-block4 {
  background: url('../img/icons/t-icon4.png') 32px 15px no-repeat;
  margin-top: 20px;
}

.why-us-title {
  font-size: 24px;
  line-height: 1.5;
  color: #2c2c2c;
  padding-top: 100px;
}

.why-us-title .icon-title {
  display: none;
}

.why-us-item {
  font-size: 18px;
  line-height: 26px;
  list-style-type: disc;
  margin-left: 20px;
}

/* IN WHICH UNIVERSITIES */

#universities {
  padding: 50px 0 80px;
  background: url('../img/bg-uni.jpg') repeat;
}

.universities_sec-title {
  margin-bottom: 50px;
}

.slider-university {
  position: relative;
}

.slider-university-nav {
  position: relative;
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: #fff;
  z-index: 10;
}

.slider-university-nav img {
  margin: 0 auto;
}

.slider-university-nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 116px;
  height: 123px;
  background: url('../img/pt-icons/slide-select.png') no-repeat center;
  z-index: -1;
}

.slick-slide:focus {
  outline: none !important;
}

.slide-university {
  margin-bottom: 80px;
  padding: 40px 65px 20px;
  background-color: #fff;
}

.slide-university .title {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  color: #2c2c2c;
  text-align: center;
}

.slide-university .img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.slide-university .inner-wrap-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px;
  padding-bottom: 0;
}

.slide-university .text {
  width: 62%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #2c2c2c;
}

.btn-sl-uni {
  width: 250px;
}

.uni-wrap-bottom {
  // padding: 80px 0;
  text-align: center;
}

/*AFTER PRE-UNIVERSITY TRAINING*/

#benefit-after {
  background-color: #eeeeee;
  padding-top: 55px;
  padding-bottom: 100px;
}

.benefit-p {
  font-size: 24px;
  line-height: 28px;
  color: #666;
  text-align: center;
  margin-bottom: 65px;
}

.benefit-block {
  width: 72%;
  background-color: #fff;
  margin: 30px auto 0;
  padding: 8px;
}

.benefit-block:after {
  content: '';
  display: block;
  clear: both;
}

.benefit-title1,
.benefit-title2,
.benefit-title3 {
  float: left;
  width: 45%;
  font-size: 24px;
  font-weight: 600;
  line-height: 48px;
  color: #2c2c2c;
  padding-left: 40px;
  padding-top: 28px;
  padding-bottom: 120px;
}

.benefit-title2,
.benefit-title3 {
  padding-top: 0;
  padding-bottom: 110px;
}

.benefit-items {
  float: left;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  line-height: 44px;
  color: #2c2c2c;
}

.benefit-item {
  background: url('../img/checked-icon.png') 0 center no-repeat;
  padding-left: 34px;
}

.benefit-icon1 {
  background: url('../img/icons/b-icon1.png') 80px 90px no-repeat;
}

.benefit-icon2 {
  background: url('../img/icons/b-icon2.png') 80px 40px no-repeat;
}

.benefit-icon3 {
  background: url('../img/icons/b-icon3.png') 80px 45px no-repeat;
}


/*
/////
// Tabs nav */

#schemes {
  padding: 100px 0 120px;
}

.tabs-scheme {
  padding-top: 50px;
}

.tabs-scheme::after {
  content: '';
  display: table;
  clear: both;
}

.tabs-scheme .tab-item {
  float: left;
  width: 28.83%;
  margin: 0 2.25%;
  font-size: 24px;
  line-height: 30px;
  color: #2c2c2c;
  text-align: center;
  border: 2px solid #eead59;
  border-radius: 10px;
  background-color: #fff;
}

.tabs-scheme .tab-item:hover {
  color: #fff;
  background-color: #eead59;
}

.tabs-scheme .tab-item a {
  padding: 20px 15px;
  color: inherit;
}

.tabs-scheme .tab-item a:hover,
.tabs-scheme .tab-item a:focus {
  background-color: transparent;
}

.tabs-scheme .tab-item span {
  display: block;
  font-size: 18px;
  color: #666666;
}

.tabs-scheme .tab-item:hover span {
  color: #fff;
}

/*TABS CONTENT*/

/* COMMON STYLE*/

.tab-pane::after {
  content: '';
  display: table;
  clear: both;
}

.tabs-scheme-content {
  min-height: 400px;
  margin-bottom: 50px;
}

.tabs-scheme-content .item {
  position: relative;
  width: 370px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  text-align: center;
  border-radius: 10px;
  margin: 40px 60px 0 0;
}

/*IF 2 OR MORE .ITEM USE .ITEM-ROW */

.item-row {
  display: flex;
  align-items: center;
}


.item-row::after {
  content: '';
  display: table;
  clear: both;
}

/*LARGE SIZE .ITEM */

.tabs-scheme-content .item-lg {
  width: 484px;
}

/*COLOR MOD .ITEM*/
.tabs-scheme-content .item_gray-light {
  background-color: #f5f5f5;
}

.tabs-scheme-content .item_gray {
  background-color: #e9e9e9;
}

.tabs-scheme-content .item_gray-dark {
  background-color: #d0d0d0;
}

/* LINE */

.line-up::before {
  content: '';
  position: absolute;
  top: -90px;
  left: 50%;
  width: 4px;
  height: 100px;
  margin-left: -2px;
  background-color: #f5f5f5;
  z-index: -2;
}

.line-up-right::before {
  content: '';
  position: absolute;
  top: -60px;
  left: 83%;
  width: 4px;
  height: 70px;
  margin-left: -2px;
  background-color: #f5f5f5;
  z-index: -2;
}

.line-up-left::before {
  content: '';
  position: absolute;
  top: -60px;
  right: 86%;
  width: 4px;
  height: 70px;
  margin-right: -2px;
  background-color: #f5f5f5;
  z-index: -2;
}

.line-right::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -60px;
  width: 70px;
  height: 4px;
  margin-top: -2px;
  background-color: #f5f5f5;
  z-index: -2;
}

/* INDIVIDUAL STYLE FOR PANEL SCHEME

 FIRST PANEL */

.tab-pane_first .head{
  color: #2c2c2c;
  line-height: 36px;
}

.tab-pane_first .item_list {
  margin: 0 -20px;
  line-height: 30px;
  color: #666;
}


/*SECOND PANEL */

.tab-pane_second > .item {
  margin-right: auto;
  margin-left: auto;
}

.tab-pane_second .item-row {
  justify-content: flex-end;
}

.tab-pane_second .item-row div {
  margin-right: 0;
}

.tab-pane_second .item-row div:last-of-type {
  margin-left: 134px;
}

/*THIRD PANEL */

.tab-pane_third > div{
  float: right;
}

.tab-pane_third .item {
  margin-right: 0;
  margin-left: 60px;
}

.tab-pane_third .item-row .item:first-of-type {
  order: 1;
}

/* OTHER STYLE SEC */

.scheme-bottom-info {
  text-align: center;
}

.scheme-info {
  margin-bottom: 95px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #2c2c2c;
}

/*CONDITIONS*/

#conditions {
  padding-top: 80px;
}

#conditions .sec-title {
  padding-bottom: 50px;
}

.cond-block {
  padding: 0 70px 40px;
}

.cond-block img {
  width: 100%;
  height: auto;
}

.cont-desc-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  padding-top: 5px;
}

.condition-item {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding: 12px 0;
}

.cond-block:first-child .cont-desc-title,
.cond-block:first-child .condition-item  {
  padding-left: 6%;
}

.cond-block:nth-child(2) .cont-desc-title,
.cond-block:nth-child(2) .condition-item  {
  padding-left: 6%;
}

.cond-block:nth-child(3) .cont-desc-title,
.cond-block:nth-child(3) .condition-item  {
  padding-left: 15%;
}

.condition-img {
  position: relative;
}

.prev-btn {
  position: absolute;
  width: 180px;
  height: 32px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 165, 0, .6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.click-prev,
.click-zoom,
.click-next {
  display: inline-block;
  width: 30%;
  height: 100%;
  cursor: pointer;
}

.click-prev {
  background: url('/img/click-prev.png') center center no-repeat;
}

.click-prev:active {
  -webkit-background-size: 15%;
  background-size: 15%;
}

.click-zoom {
  background: url('/img/click-zoom.png') center center no-repeat;
  /*margin: 0 20px;*/
}

.click-zoom:active {
  -webkit-background-size: 35%;
  background-size: 35%;
}

.click-next {
  background: url('/img/click-next.png') center center no-repeat;
}

.click-next:active {
  -webkit-background-size: 15%;
  background-size: 15%;
}

/* FEEDBACK */

#feedback {
  padding-top: 80px;
  background: url('../img/bg-uni.jpg');
}

.feedback_sec-title {
  margin-bottom: 40px;
}

.fb-block {
  margin-bottom: 50px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.fb-block:last-of-type {
  margin-bottom: 130px;
}

.fb-block::after {
  content: '';
  display: table;
  clear: both;
}

.person {
  float: left;
  width: calc(100% - 324px);
  padding: 2% 4%;
  padding-bottom: 15px;
  color: #2c2c2c;
}

.person-desc {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}


.person-desc::after {
  content: '';
  display: table;
  clear: both;
}

.person-desc .pesone-img {
  
}

.person-desc .person-info {
  padding-left: 25px;
}

.person-desc .person-info > span,
.person-desc .person-info > a {
  display: block;
}

.person-info .name {
  font-weight: 600;
  line-height: 30px;
}

.person-info .phone {
  line-height: 30px;
}

.person-info .link {
  font-weight: 400;
  line-height: 24px;
  color: #0090ff;
}

.person-desc .idea {
  position: relative;
  margin-left: auto;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #2c2c2c;
}

.person-desc .idea:after {
  position: absolute;
  content: '';
  display: block;
   background: url('../img/feedback/arrows.png') 0 0 no-repeat;
   width: 55px;
   height: 54px;
   top: -10px;
   left: -35px;
}

.person .person-fb {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.frame-video {
  float: right;
  width: 324px;
}

.person-bg {
  position: relative;
}

.person-bg img {
  display: block;
  width: 100%;
  height: auto;
}

.person-bg .play-btn {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 54px;
  background: url('../img/feedback/play-btn.png') no-repeat center;
  cursor: pointer;
}

.person-bg .play-btn:active {
  -webkit-background-size: 85%;
  background-size: 85%;
}


/*// YOU CAN BE ENROLLED NOW */

#enrollment {
  padding: 60px 0;
  background-color: #eead59;
}

.enrollment-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

#enrollment .desc {
  font-size: 30px;
  font-weight: 400;
  line-height: 48px;
  color: #fff;
}

#enrollment .desc span{
  display: block;
  font-size: 24px;
  color: #e8e8e8;
}

/*QUESTIONS*/

#popular-questions {
  padding-top: 70px;
}

#popular-questions .sec-title {
  padding-bottom: 60px;
}

.faq-list {
  width: 56vw;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  color: #000;
}

.faq-list__item {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
}

.faq-list__question {
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding: 0 0.8em;
  text-decoration: none;
  color: #2c2c2c;
  background-color: whitesmoke;
  border-radius: 5px;
  cursor: pointer;
}

.faq-list__question:after {
  content: '';
  display: block;
  clear: both;
}

.faq-list__question:hover,
.faq-list__question:focus {
  color: inherit;
  text-decoration: none;
}

.click-qw-icon {
  display: block;
  float: right;
  background: url('../img/plus.png') center center no-repeat;
  width: 43px;
  height: 43px;
}

.faq-list__answer {
  display: none;
  padding: 0.8em 0.8em 1.8em;
}

/*FORM*/

.form {
  width: 56vw;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-bottom: 40px;
  margin: 50px auto 110px;
}

.form-decs {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #2c2c2c;
  padding-top: 20px;
}

.form-p {
  font-size: 16px;
  color: #666;
}

input[type="name"],
input[type="phone"] {
  display: inline-block;
  width: 215px;
  height: 34px;
  margin: 18px 15px 10px;
}

#question {
  display: block;
  width: 460px;
  height: 104px;
  margin: 0 auto 30px;
  resize: none;
}

input[type="name"],
input[type="phone"],
#question {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 5px 8px;
}

/*CONTACTS*/

#footer {
  background: url('../img/bg-uni.jpg');
  padding-top: 20px;
  padding-bottom: 100px;
}

#footer .sec-title {
  padding-bottom: 45px;
}

.map-wrapper,
.contacts-wrapper {
  float: left;
}

.map-wrapper {
  width: 55%;
}

.contacts-wrapper {
  width: 45%;
  padding-left: 10%;
}

.contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #2c2c2c;
}

.contacts span {
  position: relative;
  display: block;
  padding-bottom: 2.5em;
}

.place {
  padding-top: 10px;
}

.schedule {
  padding-bottom: 0 !important;
}

.place:before {
  content: '';
  display: block;
  background: url('/img/map-icon.png') 0 0 no-repeat;
  width: 17px;
  height: 23px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
}

.phone:before {
  content: '';
  display: block;
  background: url('/img/phone-icon.png') 0 0 no-repeat;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
}

.schedule:before {
  content: '';
  display: block;
  background: url('/img/time-icon.png') 0 0 no-repeat;
  width: 21px;
  height: 21px;
  top: 0;
  left: 0;
  margin-bottom: 5px;
}

/*SOCIAL*/

.social {
  margin-top: 2em;
}

.social:after {
  content: '';
  display: block;
  clear: both;
}

.social a {
  display: inline-block;
  margin-right: 1.4em;
}

.vk {
  width: 45px;
  height: 25px;
  background: url('/img/social/vk-icon.png') 0 0 no-repeat;
}

.fb {
  width: 15px;
  height: 32px;
  background: url('/img/social/facebook-icon.png') 0 0 no-repeat;
}

.ok {
  width: 22px;
  height: 36px;
  background: url('/img/social/odnoklassniki-icon.png') 0 0 no-repeat;
}

.yt {
  width: 31px;
  height: 37px;
  background: url('/img/social/youtube-icon.png') 0 0 no-repeat;
}


#mob-social {
  display: none;

}

.mob-title{
  padding-top: 45px;
  padding-bottom: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #2c2c2c;
  text-align: center;
}

.m-social {
  width: 204px;
  margin: 30px auto 0;
  padding-bottom: 50px;
}

.m-social:after {
  content: '';
  display: block;
  clear: both;
}

.m-social a {
  display: inline-block;
  margin: 0 .7em;
}
